html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Paleta de cores */
:root {
    --primary-fill-color: #042042;
    --primary-line-color: #fff;
    --secondary-fill-color: #00ceff;
    --tertiary-fill-color: #009dff;
    --container-size-width: 77.7vw;
}

body {
    overflow-x: hidden;
    font-family: "Quicksand", sans-serif;
    filter: hue-rotate(-5deg) brightness(1.05) contrast(1.15) grayscale(0.1);
}

.section {
    background-color: var(--primary-fill-color);
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.section_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: var(--primary-line-color);
    margin-bottom: 50px;
}

.section_hero {
    position: relative;
    background-image: url("../img/back.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_hero::after {
    content: "";
    position: absolute;
    background-size: cover;
    background-image: linear-gradient(0deg, var(--primary-fill-color) 6.66%, transparent 66.6%);
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.section_hero_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.container {
    max-width: 1000px;
    width: var( --container-size-width); 
    margin: 0 auto;
}

.glow_bubble {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: var(--secondary-fill-color);
    filter: blur(120px);
    opacity: 0.7;
    z-index: 9999;
    margin: auto;
}

.bubble_1 {
    top: 0;
    bottom: 0;
    margin: auto;
    left: 90%;
}


.bubble_2 {
    top: 0;
    bottom: 0;
    margin: auto;
    right: 90%;
}



.hero_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_hero .hero_title_emphasis {
    color: var(--secondary-fill-color);
    font-weight: 600;
    filter: brightness(0.9);
}

.section_hero .hero_title {
    text-align: center;
    font-size: 52px;
    color:var(--primary-line-color);
    font-weight: 400;
    line-height: 1;
    letter-spacing: -2px;
    margin-top: -69px;
}

.section_hero .hero_side_image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seaTurttleImage {
    height: 100%;
    position: absolute;
    height: 333px;
    width: auto;
    margin-top: 33px;
    margin-left: -33px;
}

/* Header */
#logo {
    display: flex;
    font-weight: 100;
    font-size: 18px;
}
#logo1 {
    color: var(--primary-line-color);
}

#logo2 {
    color: var(--secondary-fill-color);
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: var(--primary-line-color);
    width: 100%;
    height: 60px;
    z-index: 9999;
    margin-top: -60px;
    overflow: hidden;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    scale: 1.2;
    z-index: -1;
}

.header_inner {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.link_items { 
    display: flex;
    list-style: none;
    gap: 15px;
    font-weight: 100;
    font-size: 15px;
}

.link_item { 
    cursor: pointer;
    opacity: 0.75;
}

.link_item a {
    color: var(--primary-line-color);
    text-decoration: none;
}



/*News*/

#notice02 {
    flex-direction: row-reverse;
}

#notice03 .news_logo {
    width: 50px;
}

#notice03 .news_header {
    background-color: #5492cd;
}

#notice03 .item_news_content {
    border: 1px solid #5492cd;
}

#notice02 .news_logo {
    filter: brightness(0) invert(1);
    width: 90px;
}

#notice02 .news_header {
    background-color: #009EDB;
}

#notice02 .item_news_content {
    border: 1px solid #009EDB85;
}


#notice01 .news_header {
    background-color: #C4170C;
}

#notice01 .item_news_content {
    border: 1px solid #c4180c85;
}

#notice01 .news_logo {
    width: 20px;
}

.item_news_content {
    font-family: 'Open Sans', sans-serif;
}

.news_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 40px;
}

.items_news {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 45px;
}

.item_news {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;

}

.item_news_content {
    display: flex;
    flex-direction: column;
    max-width: 396px;
    width: 50%;
    transition: .4s;
    backdrop-filter: blur(1px);
    border-top: 0px;
}

.item_news_content:hover {
    cursor: pointer;
    transform: none;
}


.item_news_description {
    font-size: 18px;
    color: #fff;
    width: 50%;
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
    line-height: 1.4;
}

.news_headline {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 23px 17px;
}

.news_title {
    line-height: 1.2;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.news_subtitle {
    line-height: 1.2;
    font-weight: 300;
    font-size: 15px;
    color: #bcbcbc;
}

.news_tag {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

.link {
    position: relative;
    text-decoration: none;
    color: var(--primary-line-color);
}

.link:hover::after {
    content: "";
    position: absolute;
    width: 100%;
}

.link::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    bottom: 0.1px;
    left: 0;
    margin: auto;
    background-color: var(--secondary-fill-color);
    width: 16px;
    height: 2.1px;
    transition: .3s;
    opacity: 0.5;
}

.link:hover{
    color: var(--secondary-fill-color);
}


/*NOSSO TIME*/

.cards_team {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card_team {
    z-index: 1;
    overflow: hidden;
    position: relative;
    width: 250px;
    height: 280px;
    border-radius: 10px;
}

.card_team {
    cursor: pointer;
}

.card_team_inner {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
}

.card_team::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: var(--tertiary-fill-color);
    filter: brightness(1.25) blur(100px);
    opacity: 0.62;
    scale: 0.6;
    z-index: -1;
}

.card_team_name {
    font-weight: 300;
    font-size: 24px;
    color: var(--primary-line-color);
}

.card_team_rm {
    font-weight: 900;
    font-size: 15px;
    color: var(--tertiary-fill-color);
}



.card_team_img {
    position: absolute;
    bottom: 0;

}

.card_team_img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, var(--primary-fill-color) 6.66%, transparent 66.6%);
    filter: brightness(0.65);
    z-index: 1;
}


.card_team_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 20px;
    justify-content: center;
}


#bialas .card_team_img img {
    scale: 1.7;
}

#gabriel .card_team_img img {
    scale: 1.3;
}

#higor .card_team_img img {
    scale: 1.3;
}

#bialas.card_team:hover img {
    scale: 1.85;
}

#gabriel.card_team:hover img {
    scale: 1.45;
}

#higor.card_team:hover img {
    scale: 1.45;
}

.card_team:hover img {
    transition: .4s;
}

.card_team_img img {
    width: 100%;
    transition: .4s;
}



/* MATERIAS */
.materias {
    position: relative;
    width: 100%;
    margin: 0 auto;
    color: var(--primary-line-color);
}

.materias h1 {
    font-size: 36;
    margin-bottom: 40px;
}

.materias .materias_desc p{
    font-size: 24px;
    margin-bottom: 40px;
}

.materia_card {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: var(--primary-line-color);
    margin-top: 50px;
    transition: 0.4s;
}

.materia_content, .materia_image {
    transition: 0.4s;
}

.materia_content:hover, .materia_image:hover {
    transform: translateY(-10px);
    scale: 1.05;
}

.materia_title {
    font-weight: 900;
    color: #00ceff;
}

.materia_content {
    max-width: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.materia_image img {
    width: 100%;
    max-width: 700px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
}

.materia_card .materia_src {
    flex-wrap: wrap;
    /* color: #07f89c; */
    color: #00ceff;
    font-weight: 600;
    text-decoration: underline;
}

#card_02 {
    flex-direction: row-reverse;
}

#card_02 img {
    background-size: cover;
    background-position: center;
}

@media (max-width: 1300px) {
    #card_02, .materia_card {
        flex-direction: column;        
    }
    
   #card_02 .materia_content, .materia_content {
        max-width: 100%;
        text-align: center;
        align-items: center;
   }
    
}
/* MATERIAS */

/* BENFICIOS */
    section.benefits {        
        text-align: center;
        color: #fff;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .benefits .benefits_main_title {
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .benefits_cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .benefits_cards .bf_line {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .benefits_cards #bf_line02 {
        justify-content: space-evenly;
    }

    .benefits_cards .benefits_card {
        width: 100%;
        max-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .benefits_card .benefits_icon {
        padding: 8px;        
        border-radius: 10px;
    }

    .benefits_card img {
        width: 100px;
        filter: brightness(0) invert(1);
    }

    .benefits_icon_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--tertiary-fill-color);
        width: 110px;
        height: 110px;
        border-radius: 50%;
    }

    @media (max-width: 768px) {
        .benefits_cards .bf_line {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        
    }

/* BENFICIOS */

/* FOOTER */
    footer {
        padding: 20px;
        background-color: var(--primary-fill-color);
        box-shadow: -4px -8px 20px 0px rgba(24, 24, 24, 0.75);
        color: var(--primary-line-color);        
    }

    footer div#logo {
        justify-content: center;
        font-size: 20;
    }
    
/* FOOTER */